.LandingPage-App {
    min-height: 90vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LandingPage {
    background: linear-gradient(180deg, rgba(254,222,206,1) 0%, rgba(254,222,206,1) 25%, rgba(255,255,255,1) 50%);
}

.LandingPage-Row {
    display: flex;
    align-items: center;
}

.card.LandingPage-Card {
    /* B0CCC0 */
    background-color: white;
    margin: 50px;
    padding: 50px;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    border: none;
}

.card.LandingPage-Card.h2 {
    font-size: 50px;
}